<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header">
    <title>환율 계산기</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="flex-container">

        <div style="line-height: 5vh">

            <h1 style="font-size: 72px">환율 계산</h1>

            <div class="sub-div">
                <label>송금국가</label>
                <input class="form-control" type="text" value="미국(USD)" aria-label="Disabled input example" size="60" disabled readonly>
            </div>

            <div id="div-counties" class="sub-div">
                <label>수취국가</label>
                <select id="counties" class="form-select" aria-label="Default select example" onchange="getExchangeRate()">
                   <option selected disabled hidden>수취국가를 선택해 주세요.</option>
                   <option th:each="country : ${counties}" th:value="${country.recipientCountry}"
                           th:text="${country.recipientCountry} + '(' + ${country.recipientCountry.getCountry()} + ')'"></option>
                    <option value="error">Error</option>
                </select>
            </div>

            <div class="sub-div">
              <label>환율</label>
              <input id="exchangeRate" class="form-control" type="text" value="" aria-label="Disabled input example" disabled readonly>
            </div>

            <div class="sub-div">
                <label>송금액</label>
                <div class="input-group mb-3">
                    <input id="remittance" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="1달러 ~ 10000달러만 송금 가능합니다.">
                    <span class="input-group-text" id="inputGroup-sizing-sm">USD</span>
                </div>
            </div>

            <div class="sub-div">
                <button type="button" class="btn btn-primary btn-lg" onclick="calculateExchangeRate()">송금하기</button>
            </div>

            <div class="sub-div">
                <p id="result" style="font-size: 18px"></p>
            </div>
        </div>
    </div>
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js"></script>
    <script>
        function getExchangeRate() {
            let error = document.getElementById("countySelectError");
            if (error != null) {
                error.remove();
            }
            let selectCounty = document.getElementById("counties");
            let county = selectCounty.options[selectCounty.selectedIndex].value;
            console.log(county);
            axios({
                method: "get",
                url: "/exchange-rate/" + county
            })
            .then(response => {
                document.getElementById("exchangeRate").value = response.data.exchangeRate + " " + response.data.recipientCountry + "/USD";
            })
            .catch(error => {
                let div = document.getElementById("div-counties");
                let p = document.createElement("label");
                p.id = "countySelectError";
                p.style.color = "red";
                p.innerHTML = error.response.data;
                div.appendChild(p);
            })
        }

        function calculateExchangeRate() {
            let selectCounty = document.getElementById("counties");
            let country = selectCounty.options[selectCounty.selectedIndex].value;
            let remittance = document.getElementById("remittance").value;
            let result = document.getElementById("result");
            console.log(typeof remittance);
            if (!/^-[0-9]+$/.test(remittance)) {
                result.style.color = "red";
                result.innerHTML = "바르지 않은 송금액입니다.";
                return;
            }
            axios({
                method: "get",
                url: "/exchange-rate/" + country + "/" + remittance
            })
                .then(response => {
                    result.style.color = "black";
                    result.innerHTML =
                        "수취금액은 " + response.data.amountReceived + " " + response.data.recipientCountry + " " + "입니다.";
                })
                .catch(error => {
                    result.style.color = "red";
                    result.innerHTML = error.response.data;
                });
        }
    </script>
</html>