<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header">
    <title>환율 계산기</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="flex-container">
        <div style="line-height: normal">
            <p><h1 style="font-size: 72px">환율 계산</h1></p>
            <p>송금국가: 미국(USD)</p>
            <p>
                <label>수취국가: </label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option value="KRW">한국(KRW)</option>
                    <option value="JPY">일본(JPY)</option>
                    <option value="PHP">필리핀(PHP)</option>
                </select>
            </p>
            <p>
              <label>환율: </label>
              <label>1000 KRW/USD</label>
            </p>
            <p class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </p>
            <button type="button" class="btn btn-primary">Primary</button>
        </div>
    </div>
</body>
</html>